{% load static %}
<script src="{% static 'vendor/tom-select/tom-select.complete.min.js' %}"></script>
<script src="{% static 'js/init-tomselect.js' %}"></script>
<script src="{% static 'js/document-form.js' %}"></script>
<script src="{% static 'js/picker-base.js' %}"></script>
<script src="{% static 'js/item-picker.js' %}"></script>
<script src="{% static 'js/customer-picker.js' %}"></script>
<script src="{% static 'js/picker-keyboard.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"></script>
<script>initSortableLines();</script>
