# Environment
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.venv/

# Django
*.log
logs/
staticfiles/
media/
db.sqlite3

# IDE
.vscode/
.idea/
.superpowers/

# OS
.DS_Store
Thumbs.db
