{% load i18n %}
<div class="doc-inline-totals">
  <div class="doc-inline-tot-cell">
    <span class="doc-inline-tot-label">{% trans "Subtotal" %}</span>
    <span class="doc-inline-tot-value" id="grand-subtotal">0.00</span>
  </div>
  <div class="doc-inline-tot-cell">
    <span class="doc-inline-tot-label">{% trans "ITBIS" %} <span class="doc-tot-tag">18%</span></span>
    <span class="doc-inline-tot-value" id="grand-itbis18">0.00</span>
  </div>
  <div class="doc-inline-tot-cell">
    <span class="doc-inline-tot-label">{% trans "ITBIS" %} <span class="doc-tot-tag">16%</span></span>
    <span class="doc-inline-tot-value" id="grand-itbis16">0.00</span>
  </div>
  <div class="doc-inline-tot-cell doc-inline-tot-cell--grand">
    <span class="doc-inline-tot-label">{% trans "Total" %}</span>
    <span class="doc-inline-tot-value" id="grand-total">0.00</span>
  </div>
</div>
